/* Generic */

img{
    max-width: 100%;
}

/* Backgroung colors */

.bkg-color-balck{
    background-color: rgb(0,0,0);
}

.bkg-color-gray{
    background-color: rgb(31,31,31);
}

.bkg-color-gray-light{
    background-color: rgb(190,188,187);
}

.bkg-color-white{
    background-color: rgba(255, 255, 255);
}

.bkg-color-blue{
    background-color: rgb(45,100,230);
}

.bkg-color-orange{
    background-color: rgb(205,61,15);
}

/* Text color */

.text-blue{
    color:rgb(45,100,230);
}

.text-gray{
    color: gray;
}

/* Spacing */

.margin-top-50{
    margin-top: 50px;
}

.margin-top-120{
    margin-top: 120px;
}

.margin-top-250{
    margin-top: 250px;
}

.padding-top-bot{
    padding: 50px 0;
}

.padding-top-bot-small{
    padding: 25px 0;
}

/* Header */

header i{
    color: gray;
    padding-left: 10px;
}

.top-header{
    height: 35px;
}

/* jumbotron-1 */

.jumbotron{
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 30px;
}

#returnal-img-text{
    max-width: 100%;
}

.jumbotron h2{
    font-size: 2.5em;
}

.jumbotron p{
    font-size: 1.5em;
}

.padding-bot-jumbo-img{
    padding: 15px;
}

/* Jumbo 2 */

.jumbo-2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 30px;
}

/* PlayStation Plus section */

#button-ps-plus{
    max-width: 45%;
    font-size: 15px;
}

/* better border radius */

.border-radius{
    border-radius: 20px;
}